<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.zsga.cf.wscz.mapper.DeptMapper">
	
	<!-- 查询所有部门 -->	
	<select id="listDept"  resultType="Dept">
		select * from dept
	</select>
  
	<!-- 查询需要签收的部门 -->
	<select id="querySignDept" resultType="Dept">
		select * from dept where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 查询需要抄送的部门 -->
	<select id="queryChaoSongDept" resultType="Dept">
		select * from dept where id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>